$yco: 0.2;

.default_chara {
  background-color: rgba(158, 158, 158, $yco);
}

.yuuki_yuuna {
  background-color: rgba(255, 153, 214, $yco);
}

.tougou_mimori {
  background-color: rgba(138, 214, 229, $yco);
}

.inubouzaki_fuu {
  background-color: rgba(248, 217, 62, $yco);
}

.inubouzaki_itsuki {
  background-color: rgba(130, 217, 130, $yco);
}

.miyoshi_karin {
  background-color: rgba(255, 115, 119, $yco);
}

.washio_sumi {
  background-color: rgba(136, 155, 247, $yco);
}

.minowa_gin {
  background-color: rgba(255, 126, 115, $yco);
}

.nogi_sonoko {
  background-color: rgba(185, 128, 242, $yco);
}

.nogi_wakaba {
  background-color: rgba(121, 172, 242, $yco);
}

.doi_tamako {
  background-color: rgba(255, 136, 76, $yco);
}

.iyojima_anzu {
  background-color: rgba(199, 184, 163, $yco);
}

.koori_chikage {
  background-color: rgba(255, 110, 158, $yco);
}

.takashima_yuuna {
  background-color: rgba(255, 153, 214, $yco);
}

.shiratori_utano {
  background-color: rgba(170, 178, 125, $yco);
}

.akihara_sekka {
  background-color: rgba(217, 163, 191, $yco);
}

.kohagura_natsume {
  background-color: rgba(147, 205, 205, $yco);
}

.uesato_hinata {
  background-color: rgba(239, 155, 93, $yco);
}

.fujimori_mito {
  background-color: rgba(125, 214, 190, $yco);
}

.kusunoki_mebuki {
  background-color: rgba(142, 221, 142, $yco);
}

.kokudo_aya {
  background-color: rgba(224, 206, 119, $yco);
}

.kagajyou_suzume {
  background-color: rgba(224, 213, 90, $yco);
}

.miroku_yumiko {
  background-color: rgba(220, 154, 250, $yco);
}

.yamabushi_shizuku {
  background-color: rgba(113, 219, 223, $yco);
}

.akamine_yuuna {
  background-color: rgba(231, 94, 165, $yco);
}

.miroku_renge {
  background-color: rgba(90, 172, 215, $yco);
}

.kiryuu_shizuka {
  background-color: rgba(184, 112, 214, $yco);
}

.aki_masuzu {
  background-color: rgba(255, 182, 95, $yco);
}

.hanamoto_yoshika {
  background-color: rgba(202, 91, 206, $yco);
}

.fuyou_yuuna {
  background-image: linear-gradient(
    124deg,
    rgba(255, 36, 0, $yco),
    rgba(232, 29, 29, $yco),
    rgba(232, 183, 29, $yco),
    rgba(227, 232, 29, $yco),
    rgba(29, 232, 64, $yco),
    rgba(29, 221, 232, $yco),
    rgba(43, 29, 232, $yco),
    rgba(221, 0, 243, $yco),
    rgba(221, 0, 243, $yco)
  );
}

.yuzuki_yuuna {
  background-color: rgba(152, 103, 106, $yco);
}
